NET "BTN_EAST" LOC = "H13" |IOSTANDARD = LVTTL |PULLDOWN ;
NET "BTN_WEST" LOC = "D18" |IOSTANDARD = LVTTL |PULLDOWN ;
NET "LED2" LOC = "E12" |IOSTANDARD = LVTTL |SLEW = SLOW |DRIVE = 8 ;
NET "LED1" LOC = "F12" |IOSTANDARD = LVTTL |SLEW = SLOW |DRIVE = 8 ;
# NET "LED3" LOC = "F9" |IOSTANDARD = LVTTL |SLEW = SLOW |DRIVE = 8 ;
# NET "LED4" LOC = "E9" |IOSTANDARD = LVTTL |SLEW = SLOW |DRIVE = 8 ;
NET "rst" LOC = "K17" |IOSTANDARD = LVTTL |PULLDOWN ;
NET "R" LOC = "H14" |IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;
NET "G" LOC = "H15" |IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;
NET "B" LOC = "G15" |IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;
NET "hs" LOC = "F15" |IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;
NET "vs" LOC = "F14" |IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;
NET "clk" LOC = "C9" |IOSTANDARD = LVCMOS33 ;
#Created by Constraints Editor (xc3s500e-fg320-4) - 2014/06/04
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 20 ns HIGH 50%;
